<% @Gener.each do |gener| %>
<body class="black">
    <div class="contour">
        <p> <%= gener.nom_gener %><p>
            <p>
                <a href="<%= post_path(gener.id_gener)%>" class="btn btn-info">plus</a>
            <p>
    </div>
<body>
<% end%>