<% @Article.each do |article| %>
<body class="black">
    <div class="contour">
        <h3><%= article.titre_article %></h3>
        <p><%= article.contenus_articles %></P>
    </div>
<body>
<% end%>
